@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


.page-grid {
  display: grid;
  grid-template-columns: 7.5% 85% 7.5%;
  justify-items: center;
}

.center-wrapper{
  display: grid;
  justify-items: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-gap: 20px;
  width: 100%;
}

.movie-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-button {
  width: 400px;
}

.mb-20
{
  margin-bottom: 20px;
}

.movie-item{
  border: 1px solid #cecece;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  margin: 10px;
  display: grid;
}

.movie-info{
  display: grid;
  grid-template-columns: 40% 60%;
  grid-column-gap: 20px;
}

.info-wrapper {
}

.header {
  margin-bottom: 20px;
}

.start{
  justify-self: start;
}

.center {
  justify-self: center;
}

.end{
  justify-self: end;
}

.poster {
  width: 100%;
  height: 350px;
}

.movie-item-full {
  width: 100%;
}